{% extends 'base.html' %}

{% block content %}

<div class ="top_title">
  <h1>投稿</h1>
</div>

{% if user.is_authenticated %}
<div id="create" class="col-md-6 offset-md-3">
  <form action='' method='POST' enctype="multipart/form-data">{% csrf_token %}
  <p class="create_title"><input type='text' name='title' placeholder="タイトル"></p>
  <p class="create_content"> <textarea type='text' name='content' cols="30" rows="10" placeholder="内容"></textarea></p>
  <p class="create_img"><input type='file' name='images'></p>
  <input type='hidden' name='author' value='{{ user.username }}'>
  <input type='submit' value='作成する'>
  </form>

</div>



{% else %}
ログインしてください
{% endif %}
{% endblock content %}